---
---
<div class="centered-section">
	<div class="olive-pattern-bg">
		<h2>Calendar</h2>
	</div>

	<p>Come to our shows! Come to a protest! Come to a talk! Come to a film screening!</p>

</div>
<div id="calendar" class="net-pattern-bg">
{% for event in site.events %}
	<div id="event-{{ forloop.index0 }}" class="event" data-date="{{ event.date | date: '%Y%m%d' }}">
		<img class="flyer"src="/assets/images/event_flyers/{{ event.flyer }}">
		<div class="info">
			<div class="orgOrBand">
				<h3>Who:</h3>
				{{ event.orgOrBandName }}
			</div>
			<div class="title">
				<h3>What:</h3>
				{{ event.title }}
			</div>
			<div class="location">
				<h3>Where:</h3>
				{{ event.location }}
			</div>
			<div class="date-and-time">
				<h3>When:</h3>
				{{ event.date | date: "%A, %b %d %Y"}} {{ event.time }}
			</div>
			<div class="description">{{ event.content }}</div>
			<a class="link" href="{{ event.link }}">{{ event.link_text }}</a>
		</div>
	</div>
{% endfor %}
</div>

<script src="/assets/js/events.js"></script>

<div class="centered-section">
	<div class="olive-pattern-bg">
		<h2>Updates</h2>
	</div>
	<p>What's going on now, and how can you plug in to the various ongoing local efforts?</p>
	<h3>Latest Updates:</h3>
	<div id="latest-updates">
		{% for cat in site.categories %}
		{% if  cat[0] != "orgs" %}
			<div class="latest-post">
				<div class="org-and-title">
					<h3>{{ cat[0] | capitalize}}:</h3>
					<h4 class="cat-title">{{cat[1][0].title}}</h4>
				</div>
				<div class="cat-content">
					{{ cat[1][0].content }}
				</div>
			</div>
		{% endif %}
		{% endfor %}
	</div>

	<h3>All Updates:</h3>
	<div id="all-updates">
		{% for post in site.posts %}
			<ul>
				<li><span class="post-author-org">{{ post.org }}:</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
			</ul>
		{% endfor %}
	</div>
</div>
