#calendar {
	display: flex;
	flex-flow: row nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	gap: 30px;
	height: 80vh;
	@media only screen and (max-width: 700px){
		height: 50vh;
	}

	.event {
		height: 100%;
		display: flex;
		flex-flow: column nowrap;
		.info {
			flex: 0 0 auto;
			display: none;
		}
		.flyer {
			object-fit: contain;
			height: 100%;
			flex: 1 1 auto;
		}
	}
}
