#calendar {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	overflow-x: scroll;
	overflow-y: hidden;
	height: 80vh;
	@media only screen and (max-width: 700px){ height: 50vh; }

	box-shadow: 0 0 25px -10px black;
	border-radius: 30px;

	.event {
		margin-left: 20px;
		margin-right: 20px;
		/* border-radius: 30px; */
		box-shadow: 0 0 5px black;

		height: 90%;
		/*
		display: flex;
		flex-flow: column nowrap;
		*/
		position: relative;
		.info {
			bottom: 0;
			position: absolute;
			text-align: center;
			background-color: rgba(255,255,255,0.7);
			backdrop-filter: blur(10px);
			padding: 20px;
			width: 100%;
			opacity: 0;
			transition: opacity 0.5s;
			pointer-events: none;
		}

		.info.active {
			opacity: 1;
			pointer-events: auto;
		}

		.flyer {
			object-fit: contain;
			height: 100%;
			/* flex: 1 1 auto; */
		}
	}
}
