*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
	margin: 0px;
	padding: 0px;
	a {
		color: green;
	}
}

#title{
	text-align: center;
}

main {
	margin: 40px;
	@media only screen and (max-width: 500px){
		margin: 0px;
	}

	.sign-up {
		text-align: center;
	}
	>p {
		padding-left:	40px;
		padding-right:	40px;
	}
}
.flag {
	$height: 60px;
	position: relative;
	background-image: linear-gradient(black 0%, black 33%, white 33%, white 66%, green 66%);
	height: $height;
	.triangle {
		position: absolute;
		height: 100%;
		width: 100%;
		box-sizing: border-box;
		border: calc($height / 2) solid rgba(0,0,0,0);
		border-left-color: red;
	}
}

footer {
	background-color: black;
	color: white;
	padding: 50px;
	text-align: center;
}
