nav {
	.current_page {
		color: red;
	}

	.inactive_page{
		color: white;
	}

	ul{
		font-family: "Josefin Slab";
		font-weight: bold;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		padding: 0;
		@media only screen and (max-width: 725px){
			flex-direction: column;
		}

		li{
			text-align: center;
			list-style-type: none;
			text-transform: uppercase;
			font-weight: bold;
			margin: 5px;
		}
	}
	a{
		text-decoration: none;
	}
}
