nav {

/*
	$nav_border_width: 10px;

	border-top-color: black;
	border-bottom-color: green;
	border-width: 0;
	border-top-width: $nav_border_width;
	border-bottom-width: $nav_border_width;
	border-style: solid;
*/

	.current_page {
		color: red;
	}

	.inactive_page{
		color: black
	}

	ul{
		display: flex;
		justify-content: space-around;
		padding: 0;

		li{
			text-align: center;
			list-style-type: none;
		}
	}
}
