nav {
	.current_page {
		color: red;
	}

	.inactive_page{
		color: white;
	}

	ul{
		font-family: "Josefin Slab";
		font-weight: bold;
		display: flex;
		justify-content: space-evenly;
		padding: 0;

		li{
			text-align: center;
			list-style-type: none;
			text-transform: uppercase;
			font-weight: bold;
		}
	}
	a{
		text-decoration: none;
	}
}
