<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
	<link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
  </head>
  <body>
	<header>
		<h1 id="title">{{ site.title }}</h1>  
		{% include nav.html %}
	</header>
		{% include flag.html %}
    <main>
		{{ content }}
	</main>
		{% include flag.html %}
	<footer>
		{% include footer.html %}
	</footer>
  </body>
</html>
