---
layout: default
---

<div class="centered-section">
	<h1>{{ page.title }}</h1>
	{{ content }}

	<hr>

	<h2>Charts</h2>
	<ul>
	{% assign chart_files = site.static_files | where_exp: "chart_file", "chart_file.path contains page.charts_folder" %}
	{% for chart in chart_files %}
		<li><a target="_blank" href="{{ chart.path | absolute_url }}">{{ chart.basename }}</a></li>
	{% endfor %}
	</ul>

	<hr>

	<h2>Recordings</h2>
	<h3>Reference</h3>
	<ul>
	{% for ref in page.reference_recordings %}
		<li><a target="_blank" href="{{ ref }}">{{ ref }}</a></li>
	{% endfor %}
	</ul>

	<h3>Rehearsals</h3>
	<ul>
	{% assign rec_files = site.static_files | where_exp: "rec_file", "rec_file.path contains page.recordings_folder" %}
	{% for rec in rec_files %}
		<li><a target="_blank" href="{{ rec.path | absolute_url }}">{{ rec.basename }}</a></li>
	{% endfor %}
	</ul>

</div>
